
/* 1. HEADER CONTAINER */
.header.Container {
    min-height: 50px;
}

header > .headerContenuti {
    align-items: center;
    justify-content: space-between;
}

/* 2. MAIN CONTAINER calcolo particolare*/
.main.Container {
    min-height: 800px;
}
main > .mainContenuti {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

main > .mainContenuti > .mainCardContainer {
    width: calc((1055px / 3) - 10px);
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    height: 550px;

    display: flex;
    flex-direction: column;
}

.mainCardImgContainer:hover .immagine-2  {
 display: block;
 position: absolute;
 top: 0;
}

/* hoover */
.immagine-2 {
    display: none;
}


/* 3. FOOTER CONTAINER */
.footer.Container {
    min-height: 60px;
}
footer > .footerContenuti {
    align-items: center;
    justify-content: space-between;
}


/*
    DEBUGGERS
*/
/* DEBUG 1.HEADER */
 .debug > .header.Container {
    border: 1px dashed black;
    background-color: #FF7B00;
 }
 .debug > header > .headerContenuti {
    border: 1px dashed black;
    background-color: #FF8D21;
 }

/* DEBUG 2. MAIN */
.debug > .main.Container {
    border: 1px dashed black;
    background-color: #ffab44;
 }

 .debug > main > .mainContenuti {
    border: 1px dashed black;
    background-color: #FFA652;
 }

 .debug > main > .mainContenuti > .mainCardContainer {
    border: 1px dashed black;
    background-color: #FF8D21;
 }

/* DEBUG 3. FOOTER */
.debug > .footer.Container{
    border: 1px dashed black;
    background-color: #FFCD90;
 }

.debug > footer > .footerContenuti {
    border: 1px dashed black;
    background-color: #FFB76B;
 }

